@import url("https://fonts.googleapis.com/css?family=Nunito:600");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.clearfix {
  *zoom: 1;
}

html {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

header {
  width: 100%;
  height: auto;
  background: #4d5d53;
}
.header-left,
.header-right {
  position: relative;
  color: white;
  float: left;
}
.header-left {
  width: 30%;
}
.header-right label {
  position: absolute;
  top: -3.7em;
  right: 0;
  cursor: pointer;
}

.header-right span {
  position: relative;
  width: 2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
}

.header-right span:hover {
  background: rgba(255, 255, 255, 0.6);
}

.header-right span:before,
.header-right span:after {
  content: "";
  position: absolute;
  width: 2em;
  height: 0.5em;
  top: 4px;
  left: 0;
  background: black;
}

.header-right span:after {
  top: 14px;
}

.header-right {
  width: 70%;
  text-align: right;
}

#open {
  display: none;
}

h1 {
  font-weight: 300;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white;
}

nav > a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  padding: 0 2em;
  -webkit-transition: all 0.3s ease;
}
nav > a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.hidden-desktop {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  background: image_url("school_desk.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  overflow: hidden;
}

.section-left,
.section-right {
  float: left;
}
.section-left {
  width: 70%;
  padding: 3em 0;
}
.section-right {
  width: 30%;
}
.section-title,
.section-tagline {
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
}
.section-title {
  font-size: 3em;
  margin: 20px;
  margin-bottom: 0.3em;
  text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
  text-align: left;
}

.section-tagline {
  font-size: 1em;
}

.learn-more {
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  background: #bdc3c7;
  font-size: 16px;
}
.learn-more:hover {
  background: #2c3e50;
}
.learn-more:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.8);
}

.navbar-container header {
  height: 100%;
  padding: 10px;
}

.nav-session-link {
  margin: 5px;
}

.nav-link-box {
  display: flex;
  justify-content: flex-end;
}

.greeting-username {
  text-align: right;
}

#view-volunteers {
  text-align: center;
}

.login-signup {
  text-align: right;
}

h2.greeting-username {
  font-size: 20px !important;
}
