@import url("https://fonts.googleapis.com/css?family=Nunito:600");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.clearfix {
  *zoom: 1;
}

html {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

header {
  width: 100%;
  height: auto;
  background: #4d5d53;
}
.header-left,
.header-right {
  position: relative;
  color: white;
  float: left;
}
.header-left {
  width: 30%;
}
.header-right label {
  position: absolute;
  top: -3.7em;
  right: 0;
  cursor: pointer;
}
.header-right span {
  position: relative;
  width: 2em;
  height: 2em;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
}
.header-right span:hover {
  background: rgba(255, 255, 255, 0.6);
}
.header-right span:before,
.header-right span:after {
  content: "";
  position: absolute;
  width: 2em;
  height: 0.5em;
  top: 4px;
  left: 0;
  background: black;
}
.header-right span:after {
  top: 14px;
}
.header-right {
  width: 70%;
  text-align: right;
}

#open {
  display: none;
}

h1 {
  font-weight: 300;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white;
}

nav > a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  padding: 0 2em;
  -webkit-transition: all 0.3s ease;
}
nav > a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}
.hidden-desktop {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  background: image_url("school_desk.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  overflow: hidden;
}

.section-left,
.section-right {
  float: left;
}
.section-left {
  width: 70%;
  padding: 3em 0;
}
.section-right {
  width: 30%;
}
.section-title,
.section-tagline {
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
}
.section-title {
  font-size: 3em;
  margin: 20px;
  margin-bottom: 0.3em;
  text-shadow: 0 3px 0px black, 0 4px 0px rgba(150, 150, 150, 0.5);
  text-align: left;
}
.section-tagline {
  font-size: 1em;
}
.learn-more {
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.8);
  background: #bdc3c7;
  font-size: 16px;
}
.learn-more:hover {
  background: #2c3e50;
}
.learn-more:active {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.8);
}

.navbar-container header {
  height: 100%;
  padding: 10px;
}

.nav-session-link {
  margin: 5px;
}

.nav-link-box {
  display: flex;
  justify-content: flex-end;
}

.greeting-username {
  text-align: right;
}

#view-volunteers {
  text-align: center;
}

.login-signup {
  text-align: right;
}

h2.greeting-username {
  font-size: 20px !important;
}

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) {
//   .box {
//     width: 49%;
//     margin-bottom: 5%;
//   }
//
//   ul li:nth-child(3) .box {
//     clear: both;
//   }
//
//   ul li:nth-child(2n) .box {
//     margin-right: 0;
//     clear: right;
//   }
// }
//
// /* Small monitor */
// @media (max-width: 979px) {
//   nav > a {
//     padding: 0 1.5em;
//   }
//   .section-left,
//   .section-right {
//     width: 100%;
//   }
//   .section-left {
//     text-align: center;
//   }
//   .section-right {
//     padding: 0 0 2em;
//   }
//   .section-title {
//     font-size: 4em;
//     margin-bottom: 0.2em;
//   }
//   .section-tagline {
//     font-size: 1.3em;
//   }
//   .learn-more {
//     margin: 0 auto;
//   }
// }
//
// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) {
//   .container {
//     width: 95%;
//   }
//   nav > a {
//     padding: 0 2em;
//   }
//   h1 {
//     padding: 0.5em 0;
//   }
//   .header-left,
//   .header-right {
//     width: 100%;
//     text-align: center;
//   }
//   .section-left,
//   .section-right {
//     width: 100%;
//   }
//   .section-left {
//     text-align: center;
//     padding: 2em 0;
//   }
//   .section-right {
//     padding: 1em 0 2em;
//   }
//   .section-title {
//     font-size: 3em;
//     margin-bottom: 0.2em;
//   }
//   .section-tagline {
//     font-size: 1.3em;
//   }
//   .learn-more {
//     margin: 0 auto;
//   }
// }
//
// /* Landscape phones and down */
// @media (max-width: 480px) {
//   body {
//     padding: 0 0.5em;
//   }
//   .container {
//     width: 90%;
//   }
//   nav {
//     height: 0;
//     overflow: hidden;
//     -webkit-transition: all 0.3s ease;
//   }
//   input[type="checkbox"]:checked + nav {
//     height: 205px;
//   }
//   nav > a {
//     padding: 0 1em;
//     display: block;
//     border-bottom: solid 1px rgba(255, 255, 255, 0.1);
//   }
//   h1 {
//     padding: 0.5em 0;
//   }
//   .header-left,
//   .header-right {
//     width: 100%;
//     text-align: center;
//   }
//   .section-left,
//   .section-right {
//     width: 100%;
//   }
//   .section-left {
//     text-align: center;
//     padding: 1em 0;
//   }
//   .section-right {
//     text-align: center;
//     padding: 1em 0 2em;
//   }
//   .section-title {
//     font-size: 2.4em;
//     margin-bottom: 0;
//   }
//   .section-tagline {
//     font-size: 1em;
//   }
//
//   // .learn-more {
//   //   display: table;
//   //   margin: 10px;
//   //   font-size: large;
//   // }
//
//   .hidden-desktop {
//     display: block;
//   }
// }
