#profile-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-form {
  align-items: center;
}

#profile-form2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#profile-form2.hidden {
  display: none;
}

.ul-container {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
}

.ul-container h2 {
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

#profile-form2 ul {
  align-items: center;
}

#profile-form3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

#publish-button {
  margin-top: 50px;
  background: none;
  font-size: 24px;
}

#category-form-container {
  background: white;
  margin: 10px;
  border-radius: 8px;
}

#category-form-container-gray {
  background: rgba(0, 255, 0, 0.5);
  margin: 10px;
  border-radius: 8px;
}

#category-form-container button {
  font-size: 16px;
  background: none;
  width: 120px;
  padding: 10px;
}

#category-form-container button:hover {
  cursor: pointer;
}

#category-form-container-gray button {
  font-size: 16px;
  background: none;
  width: 120px;
  padding: 10px;
}

#category-form-container-gray button:hover {
  cursor: pointer;
}

.profile-img-large {
  max-width: 160px;
  max-height: 160px;
  border-radius: 8px;
  margin: 15px 5px 5px 5px;
}

.profile-form-submit {
  background: none;
  font-size: 24px;
}

.profile-form-submit:hover {
  cursor: pointer;
}

#profile-form {
  display: flex;
  flex-direction: column;
  height: 60%;
}

#profile-form-instructions-box {
  margin: 10px;
}

#profile-form-instructions {
  margin: 5px;
  padding: 5px;
}

#profile-form-instructions li {
  list-style: decimal;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

input {
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  background: white;
}

#category-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 13px;
  padding: 10px;
  border-color: #355c7d;
}

#zipcode-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
}

#fullname-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
}

#description-input {
  text-align: left;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
  height: 100px;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

#email-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
}

#summary-input {
  text-align: left;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
  height: 100px;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

#resume-input {
  text-align: center;
  font-family: "Fahkwang", sans-serif;
  font-size: 14px;
  padding: 10px;
  border-color: #355c7d;
}

#profile-username {
  color: white;
}

/* :required {
  background: red;
} */
