@import url("https://fonts.googleapis.com/css?family=K2D");

.profile-index-container {
  width: 100%;
  height: 100vh;
  background: image_url("school_desk.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.profile-index-ul-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.profile-index-li-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  font-family: "K2D", sans-serif;
  width: 300px;
  border-radius: 7px;
}

.profile-img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 8px;
  margin: 15px 5px 5px 5px;
}

.profile-index-item {
  margin: 5px;
  padding: 10px;
}

.section-left {
  padding-bottom: 10px;
}

li {
  list-style: none;
}

.search-input {
  margin: 20px;
}

.search-input input {
  text-align: left;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border-style: solid;
  border: thin solid gray;
  font-size: 12px;
}

h2.section-title {
  font-size: 40px !important;
}
